In [1]:
import numpy as np
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df = pd.read_csv(r'D:\data science\taitanic\train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
df['find'] = df['Name'].astype(str).str.count('Miss')

In [6]:
df['Gender Status from Name'] = 0

In [7]:
df.loc[df['find'] > 0,'Gender Status from Name'] = 1

In [8]:
df['find'] = df['Name'].astype(str).str.count('Mrs')

In [9]:
df.loc[df['find'] > 0,'Gender Status from Name'] = 2

In [10]:
df['find'] = df['Name'].astype(str).str.count(', Dr')

In [11]:
df.loc[(df['find'] > 0) & (df['Sex']=='female'),'Gender Status from Name'] = 2

In [12]:
df.loc[(df['find'] > 0) & (df['Sex']=='male'),'Gender Status from Name'] = 3

In [13]:
df['find'] = df['Name'].astype(str).str.count('Mr')

In [14]:
df.loc[(df['find'] > 0) & (df['Gender Status from Name'] != 2),'Gender Status from Name'] = 4

In [15]:
df = df.drop(['find'],axis=1)

In [16]:
df['Gender Status from Name'].value_counts()

4    518
1    180
2    130
0     57
3      6
Name: Gender Status from Name, dtype: int64

In [17]:
df.to_csv('D:\data science\data\clean.csv', index = False)

In [18]:
for i in range(0,5):
    df.loc[(df['Age'].isin([np.nan])) & (df['Gender Status from Name']==i),'Age'] = df[df['Gender Status from Name']==i]['Age'].mean()